body {
  background-color: seashell;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 2em auto;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

td.top {
  border-top-width: 2px;
}

td.bottom {
  border-bottom-width: 2px;
}

td.left {
  border-left-width: 2px;
}

td.right{
  border-right-width: 2px;
}

td input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-size: 27px;
  text-align: center;
}

td input:focus {
  outline: 2px solid dodgerblue;
}

button {
  font-size: 16px;
  margin: auto .5em;
}

button[disabled] {
  color: darkgray;
}

@keyframes warningAnimation {
  from {outline-color: dodgerblue;}
  to {outline-color: crimson;}
}

.warning {
  animation: .2s 2 alternate warningAnimation;
}

.generated {
  color: darkgray;
}

#divBelowBoard {
  text-align: center;
}

#stringDiv {
  width: fit-content;
  text-align: left;
  margin: auto;
}

#stringEntry, #solution {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  width: 51em;
  margin: .5em auto;
}

#buttons {
  margin: 1.5em auto;
}
